*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  margin: 0;
  font-family: 'DejaVu Sans Mono', Consolas, Inconsolata, 'Lucida Console', monospace;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  padding-top: 60px;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

footer,
header {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.container:before, .container:after {
  display: table;
  content: "";
  zoom: 1;
}

.container:after {
  clear: both;
}

a {
  color: #099;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}

a:hover {
  color: #066;
  text-decoration: underline;
}

.blackbox {
  background-color: #111;
  color: #f5f5f5;
  display: block;
  padding: 8.5px;
  margin: 0 0 18px;
  line-height: 18px;
  font-size: 13px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.topbar {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}

.topbar a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.topbar .brand:hover, .topbar ul .active > a {
  color: #ffffff;
  text-decoration: none;
}

.topbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}

.topbar .fill {
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar div > ul > li, .nav-left > li {
  display: block;
  float: left;
}

ul.nav-left {
margin: 0;
}

.topbar div > ul a, .nav-left a {
  display: block;
  float: none;
  padding: 10px 10px 10px;
  line-height: 19px;
  text-decoration: none;
}

.nav-right > li {
  display: block;
  float: right;
}

.topbar div > ul a:hover {
  color: #ffffff;
  text-decoration: none;
}

.topbar div > ul .active > a {
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  text-align: right;
}

footer p {
  font-size: 11px;
}

a.hidden_link {
  text-decoration: none;
  color: #808080
}

a:hover.hidden_link {
  text-decoration: none;
  color: #808080;
  cursor: default;
}

/** BOX - BORDER 1 (TOP)**/
#box-br1:before {
content: "@";
}
#box-br1 {
overflow: hidden;
white-space: nowrap;
margin-top: 10px;
}
#box-br1:after {
content: "@";
}

/** BOX - BORDER 4 (TOP)**/
#box-br4:before {
content: "o";
}
#box-br4 {
overflow: hidden;
white-space: nowrap;
margin-top: 10px;
}
#box-br4:after {
content: "o";
}

/** BOX - BORDER 2 (LOWER TOP)**/
#box-br2:before {
content: "@";
}
#box-br2 {
overflow: hidden;
white-space: nowrap;
}
#box-br2:after {
content: "@";
}

/** BOX - BORDER 3 (BOTTOM)**/
#box-br3:before {
content: "@";
}
#box-br3 {
overflow: hidden;
white-space: nowrap;
margin-bottom: 10px;
}
#box-br3:after {
content: "@";
}

/** BOX - BORDER 6 (BOTTOM)**/
#box-br5:before {
content: "o";
}
#box-br5 {
overflow: hidden;
white-space: nowrap;
margin-bottom: 10px;
}
#box-br5:after {
content: "o";
}

/** BOX - MIDDLE **/
box{
    display: inline-block;
    padding: 0 0 0 5px;
    color: #808080;
    line-height: 18px;
}
#box-mid:before {
content: "|";
}
#box-mid {
overflow: hidden;
white-space: nowrap;
}
#box-mid:after {
content: "|";
}
.box-center {
text-align: center;
width: 554px;
}
.box-left {
text-align: left;
width: 554px;
}
.box-right {
text-align: right;
width: 554px;
}
box.box-center.h1 {
color: red;
font-size: 20px;
}
box.box-center.h2 {
color: white;
}

/** COLORS **/

yellow {
color: yellow;
}

white {
color: #f0f0f0;
}

input {
background: #fff;
outline: none;
border: none;
}

input#id_username {
background: #555
}

input#id_password {
background: #555
}