<!DOCTYPE HTML>

{% load staticfiles %}

<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="author" content="consecroMUD">
<meta itemprop="name" content="consecroMUD">
<meta itemprop="description" content="consecroMUD">
<link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}" />
{% block css_links %}
{% endblock %}
</head>
<title>ConsecroMUD</title>
<body>

{% include 'website/topbar.html' %}

<div class="container">
			<div class="blackbox">
<box id="box-br1">=======================================================================</box>
<box id="box-mid"><box class="box-center"></box></box>
<box id="box-mid"><box class="box-center h1">-+-- ((onsecro  //\/\ud --+-</box></box>
<box id="box-mid"><box class="box-center">land of the cursed</box></box>
<box id="box-mid"><box class="box-center"></box></box>
<box id="box-br3">=======================================================================</box>

{% block content %}
{% endblock %}

			</div>

    {% include 'website/footer.html' %}

</div>
</body>
</html>
