{% extends "base.html" %}
{% block content %}
<box id="box-br4">---[ <white>FAQ's</white> ]-----------------------------------------------------------</box>
<box id="box-mid"><box class="box-left">Q: HOW DO YOU CONNECT TO CONSECROMUD?</box></box>
<box id="box-mid"><box class="box-left">A: use your prefered mud client with server mud.consecromud.org,</box></box>
<box id="box-mid"><box class="box-left">and port 4040 (some clients are mudlet, mushclient)</box></box>
<box id="box-br5">-----------------------------------------------------------------------</box>
{% endblock content %}