{% extends "base.html" %}
{% block content %}
<box id="box-br4">---[ <white>FEATURES</white> ]--------------------------------------------------------</box>
<box id="box-mid"><box class="box-left">player driven economy and politics</box></box>
<box id="box-mid"><box class="box-left">unique skills for each of the player races (curses)</box></box>
<box id="box-mid"><box class="box-left">skills are crafted per curse, no generic skills</box></box>
<box id="box-mid"><box class="box-left">random and event driven world boss encounters</box></box>
<box id="box-mid"><box class="box-left">council system (player guilds)</box></box>
<box id="box-mid"><box class="box-left">world player killing (there may be consequences in certain areas) </box></box>
<box id="box-mid"><box class="box-left">player creatable homes & cities</box></box>
<box id="box-mid"><box class="box-left">unique death system</box></box>
<box id="box-mid"><box class="box-left">socials, emotes, poses, gifting</box></box>
<box id="box-mid"><box class="box-left">in depth remort system </box></box>
<box id="box-mid"><box class="box-left">dynamic areas (changes with player interaction)</box></box>
<box id="box-mid"><box class="box-left">amazing crafting system </box></box>
<box id="box-mid"><box class="box-left">a lot more coming soon!</box></box>
<box id="box-br5">-----------------------------------------------------------------------</box>
{% endblock content %}

