<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="/">ConsecroMUD</a>
			<ul class="nav-left">

                <!-- ACCOUNT -->
				{% if user.is_authenticated %}
                    {% if request.get_full_path = "/account/" %}
                    <li class="active"><a href="{% url 'account:index' %}">account</a></li>
                    {% else %}
                    <li><a href="{% url 'account:index' %}">account</a></li>
                    {% endif %}
                {% else %}
                    {% if request.get_full_path = "/account/login/" %}
                    <li class="active"><a href="{% url 'account:login' %}">login</a></li>
                    {% else %}
                    <li><a href="{% url 'account:login' %}">login</a></li>
                    {% endif %}
                {% endif %}

                <!-- WEBCLIENT -->
                {% if user.is_authenticated %}
                    {% if webclient_enabled %}
                        {% if request.get_full_path = "/webclient/" %}
                        <li class="active"><a href="{% url 'webclient:index' %}">play</a></li>
                        {% else %}
                        <li><a href="{% url 'webclient:index' %}">play</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}

                <!-- CURSES -->
                {% if request.get_full_path = "/curses/" %}
				<li class="active"><a href="{% url 'curses:index' %}">curses</a></li>
                {% else %}
                <li><a href="{% url 'curses:index' %}">curses</a></li>
                {% endif %}

                <!-- AREAS -->
                {% if request.get_full_path = "/areas/" %}
				<li class="active"><a href="{% url 'areas:index' %}">areas</a></li>
                {% else %}
                <li><a href="{% url 'areas:index' %}">areas</a></li>
                {% endif %}

                <!-- FEATURES -->
                {% if request.get_full_path = "/features/" %}
				<li class="active"><a href="{% url 'features' %}">features</a></li>
                {% else %}
                <li><a href="{% url 'features' %}">features</a></li>
                {% endif %}

                <!-- FAQS -->
                {% if request.get_full_path = "/faqs/" %}
				<li class="active"><a href="{% url 'faqs' %}">faqs</a></li>
                {% else %}
                <li><a href="{% url 'faqs' %}">faqs</a></li>
                {% endif %}
			</ul>
		</div>
	</div>
</div>