{% extends "website/base.html" %}

{% block content %}
<box id="box-br4">---[ <white>GENIE</white> ]-----------------------------------------------------------</box>
<box id="box-mid"><box class="box-left">Bite: basic attack</box></box>
<box id="box-mid"><box class="box-left">Charm: target becomes a puppet</box></box>
<box id="box-mid"><box class="box-left">Feed: refills blood pool</box></box>
<box id="box-br5">-----------------------------------------------------------------------</box>
{% endblock %}